/backend/target
/backend/Cargo.lock
/btc_cold.conf
/btc_hot.conf
client/next-env.d.ts
client/node_modules/
/btc_cold.conf
/btc_hot.conf
/client/node_modules
backend/configcold.txt
backend/confighot.txt
config_hot
backend/bitcoin-bank-conf/btc_cold.conf
backend/bitcoin-bank-conf/btc_cold.conf
backend/bitcoin-bank-conf/btc_cold.conf
backend/bitcoin-bank-conf/btc_hot.conf
backend/bitcoin-bank-conf/cold-wallet/bitcoin.conf
backend/bitcoin-bank-conf/hot-wallet/bitcoin.conf
